//$colorMain: #b23850;
//$colorSecondary: #3b8beb;
//$colorThirdly: #e7e3d4;
//$colorFourthly: #c4dbf6;
//$colorFifthly: #8590aa;

//$colorMain: #8d8741;
//$colorSecondary: #659dbd;
//$colorThirdly: #daad86;
//$colorFourthly: #bc986a;
//$colorFifthly: #fbeec1;

$colorMain: #8d8741;
$colorSecondary: white;
$colorThirdly: #daad86;
$colorFourthly: #bc986a;
$colorFifthly: #fbeec1;

//$borderColor: #3d3d3d;

$textColor: #3d3d3d;
$borderColor: #c9c9c9;
$strongColor: #767676;
